content h1,
content h2,
content h3,
content h4,
content h5,
content h6 {
  font-family: "TimesNewRoman";
}

h1 {
  color: var(--default-950);
  font-weight: 800;
  font-size: 2.8rem;
  margin-top: 0.6em;
  margin-bottom: 0.8571429em;
  line-height: 1;
}

h1 strong {
  font-weight: 900;
}

h2 {
  color: var(--default-950);
  font-weight: 700;
  font-size: 1.8em;
  margin-top: 1.5555556em;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}

h2 strong {
  font-weight: 800;
}

h3 {
  color: var(--default-950);
  font-weight: 600;
  font-size: 1.5em;
  margin-top: 1.6em;
  margin-bottom: 0.6666667em;
  line-height: 1.3333333;
}

h3 strong {
  font-weight: 700;
}

h4 {
  color: var(--default-950);
  font-weight: 600;
  margin-top: 1.8em;
  margin-bottom: 0.6em;
  line-height: 1.6;
}

h4 strong {
  font-weight: 700;
}

h5 {
  color: var(--default-950);
  font-weight: 600;
  margin-top: 1.6em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}

h6 {
  color: var(--default-950);
  font-weight: 600;
  margin-top: 1.6em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}

h1.md-focus::after {
  content: "H1";
  position: absolute;
  right: 0;
  opacity: .7;
  color: var(--secondary-400);
  font-family: "Biro_Script_reduced";
}

h2.md-focus::after {
  content: "H2";
  position: absolute;
  right: 0;
  opacity: .7;
  color: var(--secondary-400);
  font-family: "Biro_Script_reduced";
}

h3.md-focus::after {
  content: "H3";
  position: absolute;
  right: 0;
  opacity: .7;
  color: var(--secondary-400);
  font-family: "Biro_Script_reduced";
}

h3.md-focus:before {
  content: "";
  display: none;
}

h4.md-focus::after {
  content: "H4";
  position: absolute;
  right: 0;
  opacity: .7;
  color: var(--secondary-400);
  font-family: "Biro_Script_reduced";
}

h4.md-focus:before {
  content: "";
  display: none;
}

h5.md-focus::after {
  content: "H5";
  position: absolute;
  right: 0;
  opacity: .7;
  color: var(--secondary-400);
  font-family: "Biro_Script_reduced";
}

h5.md-focus:before {
  content: "";
  display: none;
}

h6.md-focus::after {
  content: "H6";
  position: absolute;
  right: 0;
  opacity: .7;
  color: var(--secondary-400);
  font-family: "Biro_Script_reduced";
}

h6.md-focus:before {
  content: "";
  display: none;
}