figure[mdtype="table"],
figure[mdtype="table"]:active {
  position: relative;
  overflow: visible;
  padding: 1em 1em .6em 1em;
  margin: 1em 0;
  border-radius: .5rem;
  background-color: white;
  box-shadow: 0 0 #0000, 0 0 #0000, 0px 0px 5px 0px rgba(0, 0, 0, .02), 0px 2px 10px 0px rgba(0, 0, 0, .06), 0px 0px 1px 0px rgba(0, 0, 0, .3);
}

.md-table-edit {
  top: 1.5em;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  border-radius: .4rem;
  padding: 0 1em;
}

table {
  border-collapse: separate;
  border-spacing: 0 .4em
}

thead tr {
  /* 无法使用 border-radius, 使用 clip-path */
  background-color: var(--default-200);
  clip-path: xywh(0 0 100% 100% round .6em);
}

tbody tr:hover {
  background-color: var(--default-100);
  clip-path: xywh(0 0 100% 100% round .6em);
}

th,
td {
  padding: .3em .4em;
}